# ignore all logs
slides/*goodnotes.pdf
**.DS_Store
**.log
**.blg
**.aux
**.swp
**.amplbak
**pratenddefaultcategory*
**overleaf
**.tar
data/RQ1.xlsx
**.RData
**.Rhistory
.Rproj.user
**.sol
**.nl
**.pkl
**.csv
**.xlsx
**/*.mp4
# tex-related:
**/*.swp
**/*.log
**/*.aux
**/*.toc
**/*.fls
**/*.out
**/*.fdb_latexmk
**/*.synctex.gz
# apple related
**/*.DS_Store
# python related
**/__pycache__

